<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-success form-control">Kaydet</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-secondary form-control">Geri Dön</a>
    </div>
</div>